* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TikTok Sans';
}

.page-header-wrap {
    position: relative;
    width: 100vw;
    height: 75px;
    background-color: rgb(51, 123, 255);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: stretch;
}

.page-header-wrap > div {
    flex: 1;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}